<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="us.iseek.services.persistence.PublicMessageMapper">

	<insert id="insert" useGeneratedKeys="true" keyProperty="id" parameterType="PrivateMessage">
		INSERT INTO private_messages (message_id, destination_hash_tag_id, message_lat, message_lon)
		VALUES (#{id}, #{topic.id}, #{location.latitude}, #{location.longitude})
	</insert>
</mapper>